@use "../../styles/common.scss" as c;

/* some basic style to show the content of a panel */

.tabpanel {
  @include c.bodyXL;
  grid-area: 1/1;
  padding: var(--spacing-2xs);
  border-radius: 2px;
  &:focus {
    outline-color: var(--Inverse);
  }

  blockquote {
    quotes: "\201C""\201D";
    margin: 0;
    padding-inline-start: var(--spacing-xl);
    border-inline-start: 3px solid;

    &:before {
      content: open-quote;
      font-family: sans-serif;
      font-size: 400%;
      line-height: 0.1;
      margin-inline-end: 0.2em;
      vertical-align: bottom;
    }

    p {
      display: inline;
    }

    cite {
      display: block;
      margin-block-start: 2rem;
    }
  }
}
