@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/tokens.css";

.badge {
  composes: bodyS from "../../styles/typography.css";

  color: var(--OnNeutral);
  font-style: normal;
  font-weight: 700;
  border-radius: 12px;

  padding: var(--spacing-4xs) var(--spacing-3xs);

  @media (width > bp.$medium) {
    padding: var(--spacing-3xs) var(--spacing-2xs);
  }

  /* variants */
  &.neutral {
    background-color: var(--SurfaceHigh);
  }
  &.positive {
    background-color: var(--SurfacePositive);
  }
  &.negative {
    background-color: var(--SurfaceNegative);
  }
}
