@import "../../styles/tokens.css";

.badge {
  /* https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl */
  --SurfaceHigh: oklch(95.986% 0.00809 286.053);
  --SurfacePositive: oklch(93.476% 0.10804 152.831);
  --SurfaceNegative: oklch(85.93% 0.07679 32.561);
  --OnNeutral: oklch(25.151% 0.03726 270.183);

  composes: bodyS from "../../styles/typography.css";

  color: var(--OnNeutral);
  font-style: normal;
  font-weight: 700;
  border-radius: 12px;

  padding: var(--spacing-4xs) var(--spacing-3xs);

  @media (width > 48rem) {
    padding: var(--spacing-3xs) var(--spacing-2xs);
  }

  /* variants */
  &.neutral {
    background-color: var(--SurfaceHigh);
  }
  &.positive {
    background-color: var(--SurfacePositive);
  }
  &.negative {
    background-color: var(--SurfaceNegative);
  }
}
