:root {
  /* Pixels units for spacings and radii
   * https://medium.com/@helenekassandra/rem-ember-to-scale-what-matters-90d240eda178
   */
  --spacing-0: 0;
  --spacing-4xs: 2px;
  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;

  /* On Figma the token was actually 4px, but the visual result is different 
   * so I adjusted the value to 2px. 
   */
  --radius-2xs: 2px;

  /* colours */

  /* badge */
  --SurfaceHigh: hsl(240, 30%, 96%);
  --SurfacePositive: hsl(137, 100%, 85%);
  --SurfaceNegative: hsl(11, 100%, 85%);

  --OnNeutral: hsla(225, 32%, 15%, 1);
  --SurfaceHover: hsla(240, 29%, 97%, 1);
  --SurfaceActive: hsla(240, 27%, 96, 1);

  --OnInverse: hsla(0, 0%, 100%, 1);
  --Inverse: hsla(225, 32%, 15%, 1);
  /* same color of onNeutral but I keep it since it's a different token */

  --InverseHover: hsla(226, 20%, 25%, 1);
  --InverseActive: hsla(228, 12%, 39%, 1);

  --Outline: hsl(240, 11%, 85%);
  --OutlineHover: hsla(235, 10%, 79%, 1);
}
