@import "../../styles/tokens.css";

.tablist {
  display: flex;

  &.pill {
    gap: var(--spacing-2xs);
    @media (width > 48rem) {
      gap: var(--spacing-xs);
    }
  }

  &.underline {
    gap: var(--spacing-l);
    @media (width > 48rem) {
      gap: var(--spacing-xl);
    }
  }
}
